@import url('https://fonts.googleapis.com/css2?family=Karla&family=Ubuntu&family=Verdana&family=Stoke&display=swap');

body {

    color: #3366BB;
    background-color: #EEDDAA;
}

header {
    display: flex;
    justify-content: space-between;
}

.imgLogo {
    border-bottom: 4px solid #3366BB;
    margin-bottom: 6px;
    padding-bottom: 15px;
}

.menu {
    color: #2255AA;
    text-decoration: none;
    margin-top: 5rem;
    font-family: 'Stoke', 'Lucida Bright', 'Liberation', serif;
}

li {
    margin-top: 20px;
}

hr {
    padding-bottom: 10px;
    margin-bottom: 6px;
    margin-left: 10px;
    border: none;
    background-color: #3366BB;
    width: 420px;
}

nav {
    margin-left: 40px;
    display: block;
    width: 20%;
    float: left;
    font-family: 'Karla', 'Verdana', 'Ubuntu', sans-serif;
}

nav ul {
    list-style-type: disc;
    line-height: 230%;
    margin-top: 40px;
    color: #3366BB;
    padding-left: 20px;
}

nav ul li {
    margin-bottom: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #2255AA;
}

nav ul li a:visited {
    color: #2255CC;
}

section {
    display: grid;
    float: right;
    font-family: 'Stoke', 'Lucida Bright', 'Liberation', serif;
    margin-right: 5rem;

}

section h3 {
    text-align: center;
}

.Apres {
    float: right;
    margin-right: 5rem;
    margin-top: 15px;
}
.product{
    cursor: pointer;
}
.ender {
    
    align-items: baseline;
    font-size: 14px;
    line-height: 140%;
    text-align: right;
    display: flex;
    justify-content: right;
    font-size: 14px;
    font-family: 'Karla', 'Verdana', 'Ubuntu', sans-serif;
}
.iframe{
    position: absolute;
    z-index: 999;
}

.listaQueijo {
    text-align: left;
    width: 440px;
    border: #2255CC 2px solid;
    background-color: #FFFFBB;
    color: #3366BB;
}

.conteudo {
    margin: 1.5rem;
}

.conteudo a {
    text-decoration: none;
    color: #2255CC;
}

.conteudo h4 {
    text-decoration: underline;
}


.tabQueijos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 6px;
    border-collapse: collapse;
    text-align: center;
    width: 440px;
    border: black 2px solid;
    background-color: #FFFFBB;
    color: #3366BB;
}

table {
    font-size: 15px;
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #f4e4b8;
    border: 3px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th {
    font-weight: normal;
    background-color: #a08040;
    color: yellow;
    padding: 6px 12px 6px 12px;
    font-size: 15px;
    border: 2px solid black;
}
th>h2{
    
    font-size: 20px;
    color: #3366BB;
}
.iframe-area {
    color: #3366BB;
    text-align: center;
    width: 100%;
    background-color: #FFFFBB;
}
td {
    border: 2px solid black;
    padding: 25px;
    text-align: left;
}

td img {
    width: 60px;
    height: auto;
}

.tbody {
    background-color: rgb(255, 248, 189);
}

.nac .int {}

.preco {
    color: red;

}

/* 
.divCompras {
    font-family: 'Stoke', 'Lucida Bright', 'Liberation', serif;
    justify-content: center;
    font-size: 12px;
    padding: 6px 6px 15px 6px;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    color: #2255AA; 
    text-align: center;    
    border: black 2px solid;
    background-color: #FFFFBB;
}
.divCompras>.conteudo>h4{
    text-decoration: none;
    text-align: left;
}
.divCompras>.conteudo>h5{
    text-decoration: none;
    text-align: left;
}
.formSimples{    
    gap: 50px;
    padding-right: 15px;
    display: flex;
    float: left;
    align-items: first baseline;
}
.endForm{
    display: flex;
}
input{
    
    gap: 50px;
}
.textArea{
    margin-left: 50px;
    width: 100px;
}
.indent{

    flex-direction: column;
    display: flex;
} */

.divCompras {
    width: 550px;
    background-color: #FFFFBB;
    color: #2255AA;
    padding: 6px 6px 15px 6px;
    font-size: 12px;
    margin: 20px auto;
    border: 2px solid #000000;
}

fieldset {
    border: 2px solid #aaa;
    padding: 10px;
    margin-bottom: 10px;
}

.radios {
    height: 30px;
    width: 160px;
    border: 2px solid #aaa;
    padding: 10px;
    padding-top: 1px;
}

.nasc {
    margin-top: 10px;
    height: 35px;
    width: 160px;
    border: 2px solid #aaa;
    padding: 10px;
    padding-top: 1px;
    
}
.rightSelect{
    
    float: right;
}

legend {
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 5px;
}

.fsEsq {
    float: left;
    display: inline;
    margin: 0px;
}

.fsDir {
    float: right;
    display: inline;
    margin: 0px;
}

.inpGrande {
    width: 380px;
}

.impMedio {
    width: 80px;
}

.impNCC {
    width: 130px;
}

.impTelef {
    width: 90px;
}

.impEnder {
    width: 180px;
    height: 50px;
}


.numDD {
    width: 30px;
}

.numQD {
    width: 50px;
}

.divLinha {
    
    width: 500px;
    margin-bottom: 6px;
}

.colLabCrd {
    width: 260px;
    height: 40px;
    float: left;
}

.colPri {
    width: 90px;
    float: left;
    display: block;
}

.colPriCompras {
    width: 86px;
    float: left;
    display: block;
}

.listaCompras {
    width: 210px;
    height: 160px;
    float: right;
    margin-top: 2px;
    margin-left: 10px;
}

.colLabSelProd {
    width: 230px;
    height: 40px;
    float: left;
}

.colSelProd {
    width: 160px;
    float: right;
}

.linhaProdSel {
    display: flex;
    width: 220px;
    margin-bottom: 6px;
    float: left;
}

.botoes {
    text-align: right;
    margin: 20px 10px 0px 10px;
}

button {
    padding: 5px 10px;
    background-color: #ccc;
    border: 1px solid #999;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #bbb;
}

.divCompras>h2 {
    text-align: left;
}
.cartao{
    
    height: auto;
    width: 10px;
}

.cartao>.divLinha>input{
    margin-left: 10px;
}
.valor{
    margin: 0 0 0 20rem;

    float: right;
}